/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none; box-sizing: border-box  }
html { height: 100% }
body { min-height: 100%; max-width: 1600px; margin-left: auto; margin-right: auto }  
img { width: 100%; height: auto; display: block }


/* === ALL SCREEN SIZES ====== */

/* Positions all menus in front of page content */
.container-menu-desktop, 
.container-menu-bar-mobile, 
.flyout-menu { z-index: 999; font-family: sans-serif; font-weight: bold }
.container-menu-desktop, .container-menu-bar-mobile { 
    width:100%; font-family: sans-serif; font-weight: bold 
}

/* on mobiles - hide desktop menu */
@media (max-width:767px) { 
    .container-menu-desktop.menu-transparent,
    .container-menu-desktop.menu-light,
    .container-menu-desktop.menu-dark { display: none }
}

/* on desktops - hide mobile menu bar and list of menu options */
@media (min-width:768px) { 
    .container-menu-bar-mobile.menu-transparent,
    .container-menu-bar-mobile.menu-light,
    .container-menu-bar-mobile.menu-dark,
    .flyout-menu.menu-transparent,
    .flyout-menu.menu-light,
    .flyout-menu.menu-light { display: none }
}

/* sticks menu to top of desktop and/or mobile screen */
.menu-sticky { position: fixed; top: 0; left: 0; right: 0; }

/* prevents content from disappearing udner sticky menus */
.sticky-anchor {
    position: relative;
    border-top: 90px solid transparent;
    margin: -90px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
 }
 
 .sticky-anchor:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
 }
 
/* Height of desktop menu and mobile menu bar */
.container-menu-desktop, .container-menu-bar-mobile { height:72px }

/* website logo fixed size in desktop menu and mobile menu bar  */
.container-menu-desktop    a:first-child img,
.container-menu-bar-mobile a:first-child img { width: 200px; height: 40px }

/* website logo vertically cente#3434b0 in desktop menu and mobile menu bar  */
.container-menu-desktop    a:first-child,
.container-menu-bar-mobile a:first-child { display: flex; flex-direction: row; align-items: center }

/* hide bullet character on listed links */
.container-menu-desktop ul li,
.flyout-menu            ul li { list-style-type: none }

/* hide link underlines on desktop and mobile menus */
.container-menu-desktop ul li a,
.flyout-menu            ul li a { text-decoration: none }

/* make desktop menu options bold */
.container-menu-desktop ul li a { font-weight:bold }

/* style cta button on desktop and mobile menus */
.container-menu-desktop ul li a.btn-cta,
.flyout-menu            ul li a.btn-cta {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    font-weight: bold;
    /* soften corners */
    /* border-radius: 4px; */
    /* rounded corners */
    border-radius: 100px
}

/* style icon in cta button on desktop and mobile menus */
.container-menu-desktop ul li a.btn-cta i,
.flyout-menu            ul li a.btn-cta i { margin-right: 8px; font-size: 90% }

/* on mobiles, prevent scrolling outside flyout menu */
.no-scroll { overflow: hidden }

.menu-drop-shadow { box-shadow: 0 1px 10px #888 }

/* ======= DESKTOP MENU ======= */

/* outer parent flexbox container 
   home page link (with website logo) at left and 
   ul links at right are its two children */
.container-menu-desktop {
	display: flex;
    justify-content: space-between;
    padding: 0 6% 0 6%;
    width: 100%;
    margin-bottom: 40px;
}

/* menu links and cta button aligned horizontally */
.container-menu-desktop ul li {
    display: inline-block;
    margin: 0 40px 0 0; /* spacing at right of menu links, cta button */
}

.container-menu-desktop ul li:last-child {
    margin-right: 0 /* no spacing at right of last menu link or cta button */
}

/* vertically center menu links and cta button */
.container-menu-desktop ul { display: flex; align-items: center }

/* style text for links and cta button  */
.container-menu-desktop ul li a {
    font-size: calc(15px + (19 - 15) * ((100vw - 320px)/(1600 - 320)));
     /* font-weight:bold */
    /* text-transform: uppercase */
}

/* cta button padding */
.container-menu-desktop ul li a.btn-cta { padding: 6px 20px }


/* ======= MOBILE MENU  ======== */

/* outer flexbox container for mobile menu bar 
   home page link (with website logo) at left and hamburger icon at right are its two children */
.container-menu-bar-mobile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    padding: 0 6% 0 6%;
}

/* three bars hozizontal in hamburger icon */
.container-menu-bar-mobile .item-icon .bar1, 
.container-menu-bar-mobile .item-icon .bar2, 
.container-menu-bar-mobile .item-icon .bar3 { width: 36px; height: 4px; margin: 7px 0; transition: 0.4s }

/* hamburger icon changes shape to 'X' when fly-out menu is visible */
.change .bar1 { transform: rotate(-45deg) translate(-9px, 6px) }
.change .bar2 { opacity: 0 }
.change .bar3 { transform: rotate(45deg) translate(-8px, -8px) }

/* container div for flyout menu content */
.flyout-menu { 
    position: fixed; display: block; 
    top: 72px; /* same height as menu bar */
    width: 320px; 
    max-height: 100%;
    height: 100%;
    padding: 30px 40px 40px 40px;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch; /* safari on mobiles */    
}

.flyout-menu.flyout-menu-is-closed {
    right: -320px; /* hides flyout menu */
}

.flyout-menu {
    right: 0; /* displays flyout menu */
    overscroll-behavior: contain;
    overscroll-behavior-y: contain
}

/* drop shadow border at left of fly-out menu */
.flyout-menu {
    box-shadow: 0px 1px 10px #888 
}

/* list of links on flyout menu */
.flyout-menu ul li { margin: 0 40px 30px 0 }

/* style flyout menu links */
.flyout-menu ul li a {
    font-size: 18px;
    /* font-weight:bold */
    /* text-transform: uppercase */
}

/* cta button */
.flyout-menu a.btn-cta {
    display: inline-block;
    padding: 10px 24px;
}

.flyout-menu hr { 
    height: 4px;
    margin: 32px 0 0 0;
    border-style: solid;
    border-width: 1px 
} 

.flyout-menu h4 {
    font-size: 20px;
    margin: 42px 0 4px 0;
    text-align: center;
    /* letter-spacing: 2px; *./
    /* text-transform: uppercase */
}

.flyout-menu h5 {
    font-size: 17px;
    margin: 20px 0 20px 0;
    text-align: center
}

.flyout-menu h5 a {
    font-size: 17px;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 2px
}

.flyout-menu p { 
    text-align: center; font-size: 15px; line-height: 1.4;
}

.flyout-menu div.fly-out-profile-box,
.flyout-menu div.fly-out-social-icons {
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
}

.flyout-menu div.fly-out-profile-box img,
.flyout-menu div.fly-out-profile-box p { width: 47% }

.flyout-menu div.fly-out-profile-box img {
    display: block; border-radius: 100%;
    width: 104px; height: 104px; 
    border-style: solid;
    border-width: 2px
}

.flyout-menu div.fly-out-profile-box p {
    text-align:left 
}

.flyout-menu div.fly-out-social-icons { 
    margin-top:12px
}

.flyout-menu div.fly-out-social-icons a {
    font-size: 26px;
    text-align: center 
}

/* ========= Light background menu - desktops and mobiles ========= */

/* background colour */
.menu-light { 
	background-color: #fff;
	transition: all .5s ease-in-out;
}

/* menu links */
.menu-light ul li a:link,  .menu-light ul li a:visited { color: #3434b0 }
.menu-light ul li a:hover, .menu-light ul li a:active  { color: #222 }

/* cta button */
.menu-light ul li a.btn-cta:link, 
.menu-light ul li a.btn-cta:visited {
    background-color: transparent;
    color: #3434b0;
    border-color:#3434b0
}

.menu-light ul li a.btn-cta:hover,
.menu-light ul li a.btn-cta:active {
    background-color: #3434b0;
    color: #fff;
    border-color:#3434b0
}

/* on mobiles only */
.menu-light.flyout-menu hr { background-color: #3434b0; border-color: #3434b0 } 

.menu-light.flyout-menu h4,
.menu-light.flyout-menu h5,
.menu-light.flyout-menu h5 a, 
.menu-light.flyout-menu p { color: #3434b0 } 

/* colour of hamburger icon bars */
.menu-light .item-icon .bar1, 
.menu-light .item-icon .bar2, 
.menu-light .item-icon .bar3 { background-color: #3434b0 }	

/* phone number link */
a[href^=tel] { text-decoration: none; color: #3434b0 }

/* email link */
.menu-light.flyout-menu h5 a:link, 
.menu-light.flyout-menu h5 a:visited {
    border-bottom-color:#3434b0;
}

.menu-light.flyout-menu h5 a:hover, 
.menu-light.flyout-menu h5 a:active {
    border-bottom-color: #fff;
}

/* profile image border colour */
.menu-light.flyout-menu div.fly-out-profile-box img { border-color: #3434b0 }

/* contact icons */
.menu-light.flyout-menu .fly-out-social-icons a i { color:#3434b0 }

/* === End light background menu === */



/* ======= Dark background menu - desktops and mobiles ======= */

/* background colour */
.menu-dark { 
	background-color: #3434b0; 
	transition: all .5s ease-in-out
}

/* menu links */
.menu-dark ul li a:link,  .menu-dark ul li a:visited { color: #fff }
.menu-dark ul li a:hover, .menu-dark ul li a:active  { color: #b8b8b8 }

/* cta button */
.menu-dark ul li a.btn-cta:link,
.menu-dark ul li a.btn-cta:visited { 
    background-color: #3434b0;
    color: #fff;
    border-color:#fff
}

.menu-dark ul li a.btn-cta:hover,
.menu-dark ul li a.btn-cta:active { 
    background-color: #fff;
    color: #3434b0;
    border-color:#fff
}

/* on mobiles only - various content */
.menu-dark.flyout-menu hr { background-color: #fff; border-color:#fff } 

.menu-dark.flyout-menu h4,
.menu-dark.flyout-menu h5,
.menu-dark.flyout-menu h5 a,
.menu-dark.flyout-menu p { color:#fff } 

/* colour of hamburger icon bars */
.menu-dark .item-icon .bar1, 
.menu-dark .item-icon .bar2, 
.menu-dark .item-icon .bar3 { background-color: #fff }

/* phone number link */
a[href^=tel] { text-decoration: none; color: #fff }

/* email link */
.menu-dark.flyout-menu h5 a:link, 
.menu-dark.flyout-menu h5 a:visited {
    border-bottom-color: #fff;
}

.menu-dark.flyout-menu h5 a:hover, 
.menu-dark.flyout-menu h5 a:active {
    border-bottom-color: #3434b0;
}

/* profile image border colour */
.menu-dark.flyout-menu div.fly-out-profile-box img { border-color: #3434b0 }

/* contact icons */
.menu-dark.flyout-menu .fly-out-social-icons a i { color:#fff }

/* === End dark background menu === */



/* ======== Transparent background menu - desktops and mobiles =========== */

/* background colour */
.menu-transparent { 
	background-color: transparent;
	transition: all .5s ease-in-out;
}

/* menu links */
.menu-transparent ul li a:link,  .menu-transparent ul li a:visited { color: #fff }
.menu-transparent ul li a:hover, .menu-transparent ul li a:active  { color: #b8b8b8 }

/* cta button */
.menu-transparent ul li a.btn-cta:link,
.menu-transparent ul li a.btn-cta:visited { 
    background-color: #3434b0;
    color: #fff;
    border-color:#3434b0;
}

.menu-transparent ul li a.btn-cta:hover,
.menu-transparent ul li a.btn-cta:active { 
    background-color: #fff;
    color: #3434b0;
    border-color:#3434b0
}

/* on mobiles only - various content */
.menu-transparent.flyout-menu hr { background-color: #fff; border-color:#fff } 

.menu-transparent.flyout-menu h4,
.menu-transparent.flyout-menu h5,
.menu-transparent.flyout-menu h5 a,
.menu-transparent.flyout-menu p { color:#fff } 

/* colour of hamburger icon bars */
.menu-transparent .item-icon .bar1, 
.menu-transparent .item-icon .bar2, 
.menu-transparent .item-icon .bar3 { background-color: #3434b0 }

/* phone number link */
a[href^=tel] { text-decoration: none; color: #fff }

/* email link */
.menu-transparent.flyout-menu h5 a:link, 
.menu-transparent.flyout-menu h5 a:visited {
    border-bottom-color: #fff;
}

.menu-transparent.flyout-menu h5 a:hover, 
.menu-transparent.flyout-menu h5 a:active {
    border-bottom-color: #3434b0;
}

/* profile image border colour */
.menu-transparent.flyout-menu div.fly-out-profile-box img { border-color: #3434b0 }

/* contact icons */
.menu-transparent.flyout-menu .fly-out-social-icons a i { color:#fff }

/* === End transparent background menu === */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   }

   /* ================= Hero Block 1 ================ */
.hero-block {
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    overflow: none;
}


@media (min-width: 768px) { 
    .hero-block { height: 80vh }
}

/* Spacing around text content: */
.hero-text-container { padding: 0 12% 4% 12%; z-index: 2;}

.hero-bg-media {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}
                    
.hero-bg-media img {
    object-fit: cover; width: 100%; height: 100%;
}
.bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;  
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));   
 }
.hero-block h1, .hero-block h2 {
    line-height: 1.2;
    color:#fff;
    text-shadow: 2px 2px #222;
}

.hero-block h1 {
    font-size: calc(64px + (112 - 64) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.hero-block h2 {
    font-weight: normal;
    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320)));
}

/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }

.slide-in-top {
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
            animation: slide-in-top 1a cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
  }
 /* ----------------------------------------------
    * Generated by Animista on 2020-4-8 10:45:15
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation slide-in-top
    * ----------------------------------------
    */

    @-webkit-keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      .slide-in-left {
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
                animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
     }
     /* ----------------------------------------------
 * Generated by Animista on 2020-4-8 10:45:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
/* ================= /Hero Block 1 ================ */
  

/* ================= Hero Block 2 ================ */

.hero-block {
    min-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    overflow: none;
}


@media (min-width: 768px) { 
    .hero-block { height: 80vh }
}

/* Spacing around text content: */
.hero-text-container { padding: 0 12% 4% 12%; z-index: 2;}

.hero-bg-media {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}
                    
.hero-bg-media * {
    object-fit: cover; width: 100%; height: 100%;
}
.bg-overlay {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;  
    z-index: 1;
    background-image: linear-gradient(rgba(29,38,113,0.7),rgba(195,55,100,0.3));   
 }
.hero-block h1, .hero-block h2 {
    line-height: 1.2;
    color:#fff;
    text-shadow: 2px 2px #222;
}

.hero-block h1 {
    font-size: calc(64px + (112 - 64) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.hero-block h2 {
    font-weight: normal;
    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320)));
}

/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }

.slide-in-top {
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
            animation: slide-in-top 1a cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
  }
 /* ----------------------------------------------
    * Generated by Animista on 2020-4-8 10:45:15
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation slide-in-top
    * ----------------------------------------
    */

    @-webkit-keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      .slide-in-left {
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
                animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
     }
     /* ----------------------------------------------
 * Generated by Animista on 2020-4-8 10:45:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

/* ================= /Hero Block 2 ================ */

  /* ================= Hero Block 3 ================ */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.hero-block {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Red Yellow Green */  
      background-image: linear-gradient(red, yellow, green); 
    
}

@media (min-width: 768px) { 
    .hero-block { height: 80vh }
}

/* Spacing around text content: */
.hero-text-container { padding: 0 12% 4% 12% }

.hero-block h1, .hero-block h2 {
    line-height: 1.2;
    color:#fff;
    text-shadow: 2px 2px #222;
}

.hero-block h1 {
    font-size: calc(64px + (112 - 64) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.hero-block h2 {
    font-weight: normal;
    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320)));
}

/* ================ UTILITY CLASSES ============= */
.text-center { text-align: center }

.slide-in-top {
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
            animation: slide-in-top 1a cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
  }
 /* ----------------------------------------------
    * Generated by Animista on 2020-4-8 10:45:15
    * Licensed under FreeBSD License.
    * See http://animista.net/license for more info. 
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */

    /**
    * ----------------------------------------
    * animation slide-in-top
    * ----------------------------------------
    */

    @-webkit-keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-top {
        0% {
          -webkit-transform: translateY(-1000px);
                  transform: translateY(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          opacity: 1;
        }
      }
      .slide-in-left {
        -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
                animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
     }
     /* ----------------------------------------------
 * Generated by Animista on 2020-4-8 10:45:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* ================= /Hero Block 3 ================ */

  /* ================= Hero Block 4 ================ */

/* ==== Hero block general properties ==== */

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) {
  .hero-6 { margin-bottom: 70px; padding: 0 20%; height: 540px }
}

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) {
  .hero-6 { margin-bottom: 40px; padding: 0 10%; height: 480px }
}

/* Vertical spacing above and below text and buttons */
.hero-6 {
  display: flex;
  flex-direction: column;
  /* Vertical spacing of block content */
  justify-content: center;
  /* Background color */
  background-image: url('../../assets/img/hotel-dark.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
  .hero-6 h1, .hero-6 h2 { text-align: center }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
  .hero-6 h1, .hero-6 h2 { text-align: center }
}

.hero-6 h1 { 
  /* Font styles */
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.4;
  font-size: calc(60px + (112 - 60) * ((100vw - 320px) / (1600 - 320)));
}

.hero-6 h2 { 
  /* Font styles */
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.4;
  font-size: calc(24px + (54 - 24) * ((100vw - 320px) / (1600 - 320)));
}

/* Desktop - Space beneath main heading  */
@media (min-width:768px) { .hero-6 h1 { margin-bottom: 2% } }

/* Mobiles - Space beneath main heading */
@media (max-width:767px) { .hero-6 h1 { margin-bottom: 6% } }


/*======= Buttons ======= */

/* Button container */
.hero-6 .container-btn { display: flex }

/* Desktop - button container */
@media (min-width:768px) {
  .hero-6 .container-btn {
      /* Spacing above button container */
      margin-top: 6%;
      /* Buttons postioned side-by-side */
      flex-direction: row; justify-content: space-between;
  }

  /*Buttons half width */
  .hero-6 .container-btn .item-col-2 { width: 47% }

 /* Button alignment within their containers */
  .hero-6 .container-btn .item-col-2:first-child { text-align: right }
  .hero-6 .container-btn .item-col-2:last-child  { text-align: left  }
}

/* Mobiles - button container */
@media (max-width:768px) {
  /* Buttons, stacked primary above secondary */
  .hero-6 .container-btn { 
      flex-direction: column; 
      justify-content: space-between;
      /* Spacing above button container */
      margin-top: 12%;
  }
  /* Buttons full width */
  .hero-6 .container-btn .item-col-2 { width: 100%; text-align: center }
  /* Spacing above secondary button */
  .hero-6 .container-btn .item-col-2:last-child  { margin-top: 10%  }
}

/* Both buttons: all button states */
.hero-6 .container-btn a.btn-primary,
.hero-6 .container-btn a.btn-secondary {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;    
  text-decoration: none;
  padding: 12px 32px;
  text-transform: uppercase;
  display: inline-block; 
  font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-6 a.btn-primary:link, 
.hero-6 a.btn-primary:visited {
  color: #fff;
  border: solid 2px red;
  background-color: red;
  transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-6 a.btn-primary:focus, 
.hero-6 a.btn-primary:hover, 
.hero-6 a.btn-primary:active {
  background-color:green;
  border: solid 2px green;
}

/* Secondary button: passive states */
.hero-6 a.btn-secondary:link, 
.hero-6 a.btn-secondary:visited {
  color: #fff;
  border: solid 2px #fff;
  transition: all 0.2s linear;
}

/* Secondary button: interactive states */
.hero-6 a.btn-secondary:focus, 
.hero-6 a.btn-secondary:hover, 
.hero-6 a.btn-secondary:active {
  color: red;
  border: solid 2px red;
}

/* ************** END HERO BLOCK, ONE COLUMN: SAMPLE 6 ************ */





/* ***************************************************************** */
/* ************ BEGIN HERO BLOCK, ONE COLUMN: SAMPLE 7 ************ */
/* **************************************************************** */


/* ==== Hero block general properties ==== */

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) {
  .hero-7 { margin-bottom: 70px; padding: 0 12%; height: 540px }
}

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) {
  .hero-7 { margin-bottom: 40px; padding: 0 10%; height: 480px }
}

/* Vertical spacing above and below text and buttons */
.hero-7 {
  display: flex;
  flex-direction: column;
  /* Vertical spacing of block content */
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
  url('../../assets/img/bike-tours.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
  .hero-7 h1, .hero-7 h2 { text-align: center }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
  .hero-7 h1, .hero-7 h2 { text-align: center }
}

.hero-7 h1 { 
  /* Font styles */
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.1;
  font-size: calc(60px + (112 - 60) * ((100vw - 320px) / (1600 - 320)));
  text-shadow: 2px 2px #222;
}

.hero-7 h2 { 
  /* Font styles */
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: calc(24px + (54 - 24) * ((100vw - 320px) / (1600 - 320)));
  text-shadow: 2px 2px #222;    
}

/* Desktop - Space beneath main heading  */
@media (min-width:768px) { .hero-7 h1 { margin-bottom: 4% } }

/* Mobiles - Space beneath main heading */
@media (max-width:767px) { .hero-7 h1 { margin-bottom: 8% } }


/*======= Buttons ======= */

/* Button container */
.hero-7 .container-btn { display: flex }

/* Desktop - button container */
@media (min-width:768px) {
  .hero-7 .container-btn {
      /* Spacing above button container */
      margin-top: 8%;
      /* Buttons postioned side-by-side */
      flex-direction: row; justify-content: space-between;
  }

  /*Buttons half width */
  .hero-7 .container-btn .item-col-2 { width: 47% }

 /* Button alignment within their containers */
  .hero-7 .container-btn .item-col-2:first-child { text-align: right }
  .hero-7 .container-btn .item-col-2:last-child  { text-align: left  }
}

/* Mobiles - button container */
@media (max-width:768px) {
  /* Buttons, stacked primary above secondary */
  .hero-7 .container-btn { 
      flex-direction: column; 
      justify-content: space-between;
      /* Spacing above button container */
      margin-top: 16%;
  }
  /* Buttons full width */
  .hero-7 .container-btn .item-col-2 { width: 100%; text-align: center }
  /* Spacing above secondary button */
  .hero-7 .container-btn .item-col-2:last-child  { margin-top: 10%  }
}

/* Both buttons: all button states */
.hero-7 .container-btn a.btn-primary,
.hero-7 .container-btn a.btn-secondary {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;    
  text-decoration: none;
  padding: 12px 32px;
  text-transform: uppercase;
  display: inline-block; 
  font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-7 a.btn-primary:link, 
.hero-7 a.btn-primary:visited {
  color: #1f364d;
  border: solid 2px #11ece5;
  background-color: #11ece5;
  transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-7 a.btn-primary:focus, 
.hero-7 a.btn-primary:hover, 
.hero-7 a.btn-primary:active {
  background-color:hotpink;
  border: solid 2px hotpink;
}

/* Secondary button: passive states */
.hero-7 a.btn-secondary:link, 
.hero-7 a.btn-secondary:visited {
  color: #fff;
  border: solid 2px #fff;
  transition: all 0.2s linear;
}

/* Secondary button: interactive states */
.hero-7 a.btn-secondary:focus, 
.hero-7 a.btn-secondary:hover, 
.hero-7 a.btn-secondary:active {
  color: lightblue;
  border: solid 2px lightblue;
}

/* ************** END HERO BLOCK, ONE COLUMN: SAMPLE 7 ************ */



/* **************************************************************** */
/* ************ BEGIN HERO BLOCK, ONE COLUMN: SAMPLE 8 ************ */
/* **************************************************************** *

/* ==== Hero block general properties ==== */

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) {
  .hero-8 { margin-bottom: 70px; padding: 0 12%; height: 520px }
}

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) {
  .hero-8 { margin-bottom: 40px; padding: 0 10%; height: 480px }
}

/* Vertical spacing above and below text and buttons */
.hero-8 {
  display: flex;
  flex-direction: column;
  /* Vertical spacing of block content */
  justify-content: center;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,255,0.5),rgba(0,0,255,0.5)),
  url('../../assets/img/meeting.jpg');    
}


/* === Heading and sub-heading ====*/

/* Desktops - heading and sub-heading alignment */
@media (min-width:768px) {
  .hero-8 h1, .hero-8 h2 { text-align: center }
}

/*  Mobiles - heading and sub-heading alignment */
@media (max-width:767px) {
  .hero-8 h1, .hero-8 h2 { text-align: center }
}

.hero-8 h1 { 
  /* Font styles */
  font-family: 'Fjalla One', sans-serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: calc(42px + (96 - 42) * ((100vw - 320px) / (1600 - 320)));
  text-shadow: 2px 2px #222;
}

.hero-8 h2 { 
  /* Font styles */
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.4;
  font-size: calc(22px + (38 - 22) * ((100vw - 320px) / (1600 - 320)));
  text-shadow: 2px 2px #222;
}

/* Desktop - Space beneath main heading  */
@media (min-width:768px) { .hero-8 h1 { margin-bottom: 4% } }

/* Mobiles - Space beneath main heading */
@media (max-width:767px) { .hero-8 h1 { margin-bottom: 8% } }

/*======= Buttons ======= */

/* Button container */
.hero-8 .container-btn { display: flex }

/* Desktop - button container */
@media (min-width:768px) {
  .hero-8 .container-btn {
      /* Spacing above button container */
      margin-top: 5%;
      /* Buttons postioned side-by-side */
      flex-direction: row; justify-content: space-between;
  }

  /*Buttons half width */
  .hero-8 .container-btn .item-col-2 { width: 100% }

 /* Button alignment within their containers */
  .hero-8 .container-btn .item-col-2:first-child { text-align: center }
}

/* Mobiles - button container */
@media (max-width:768px) {
  /* Buttons, stacked primary above secondary */
  .hero-8 .container-btn { 
      flex-direction: column; 
      justify-content: space-between;
      /* Spacing above button container */
      margin-top: 4%;
  }
  /* Buttons full width */
  .hero-8 .container-btn .item-col-2 { width: 100%; text-align: center }
  /* Spacing above secondary button */
  .hero-8 .container-btn .item-col-2:last-child  { margin-top: 10%  }
}

/* Both buttons: all button states */
.hero-8 .container-btn a.btn-primary,
.hero-8 .container-btn a.btn-secondary {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;    
  text-decoration: none;
  padding: 0 0 6px 0;
  text-transform: uppercase;
  display: inline-block; 
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-8 a.btn-primary:link, 
.hero-8 a.btn-primary:visited {
  color: #fff;
  border-bottom: solid 2px #fff;
  transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-8 a.btn-primary:focus, 
.hero-8 a.btn-primary:hover, 
.hero-8 a.btn-primary:active {
  color: blue;
  border-bottom: solid 2px blue;
}

/* ************* ENDS HERO BLOCK, ONE COLUMN: SAMPLE 8 ************ */



/* **************************************************************** */
/* ************ BEGIN HERO BLOCK, ONE COLUMN: SAMPLE 9 ************ */
/* **************************************************************** */

/* ==== Hero block general properties ==== */

/* Desktop - hero block height and inside spacing */
@media (min-width:768px) {
  .hero-9 { margin-bottom: 70px; padding: 0 12%; height: 520px }
}

/* Mobiles - hero block eight and inside spacing */
@media (max-width:767px) {
  .hero-9 { margin-bottom: 40px; padding: 0 10%; height: 480px }
}

/* Vertical spacing above and below text and buttons */
.hero-9 {
  display: flex;
  flex-direction: column;
  /* Vertical spacing of block content */
  justify-content: center;
  /* Default background color */
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
  url('../../assets/img/hook-head.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Desktop - Background image  */
@media (min-width:768px) {
  .hero-9 { background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.3)),
      url('../../assets/img/hook-head.jpg')
  }
}

/* Mobile - Background image  */
@media (max-width:767px) {
  .hero-9 { background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
      url('../../assets/img/hook-head-mobile.jpg')
  }
}

.hero-9 h1 { 
  /* Font styles */
  font-family: 'Libre Baskerville', serif;
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: calc(42px + (96 - 42) * ((100vw - 320px) / (1600 - 320)));
  text-shadow: 2px 2px #222;

}

.hero-9 h2 { 
  /* Font styles */
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.4;
  font-size: calc(22px + (38 - 22) * ((100vw - 320px) / (1600 - 320)));
  text-shadow: 2px 2px #222;

}

/* Desktop */
@media (min-width:768px) { .hero-9 h1 { margin-bottom: 4% } }

/* Mobiles */
@media (max-width:768px) { .hero-9 h1 { margin-bottom: 8% } }


/* === Heading and sub-heading ====*/

/* Desktop - Heading and sub-heading alignment */
@media (min-width:768px) {
  .hero-9 h1, .hero-9 h2 { text-align: left }
}

/* Desktop - Heading and sub-heading alignment */
@media (max-width:767px) {
  .hero-9 h1, .hero-9 h2 { text-align: center }
}

.hero-9 h1 { 
  /* Font styles */
  font-family: 'Libre Baskerville', serif;
  color: #000;
  color: #fff;
  font-weight: normal;
  line-height: 1.2;
  font-size: calc(56px + (80 - 56) * ((100vw - 320px) / (1600 - 320)));
}

.hero-9 h2 { 
  /* Font styles */
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  line-height: 1.4;
  font-size: calc(32px + (42 - 32) * ((100vw - 320px) / (1600 - 320)));
}

/* Desktop - Space beneath main heading  */
@media (min-width:768px) { .hero-4 h1 { margin-bottom: 4% } }

/* Mobiles - Space beneath main heading */
@media (max-width:767px) { .hero-4 h1 { margin-bottom: 8% } }


/*======= Buttons ======= */

/* Button container */
.hero-9 .container-btn { display: flex }

/* Desktop - button container */
@media (min-width:768px) {
  .hero-9 .container-btn {
      /* Spacing above button container */
      margin-top: 10%;
      /* Buttons postioned side-by-side */
      flex-direction: row; justify-content: space-between;
  }

  /*Buttons half width */
  .hero-9 .container-btn .item-col-2 { width: 47% }

 /* Button alignment within their containers */
  .hero-9 .container-btn .item-col-2:first-child { text-align: left }
  .hero-9 .container-btn .item-col-2:last-child  { text-align: left  }
}

/* Mobiles - button container */
@media (max-width:768px) {
  /* Buttons, stacked primary above secondary */
  .hero-9 .container-btn { 
      flex-direction: column; 
      justify-content: space-between;
      /* Spacing above button container */
      margin-top: 20%;
  }
  /* Buttons full width */
  .hero-9 .container-btn .item-col-2 { width: 100%; text-align: center }
  /* Spacing above secondary button */
  .hero-9 .container-btn .item-col-2:last-child  { margin-top: 10%  }
}

/* Both buttons: all button states */
.hero-9 .container-btn a.btn-primary,
.hero-9 .container-btn a.btn-secondary {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;    
  text-decoration: none;
  padding: 12px 32px;
  text-transform: uppercase;
  display: inline-block; 
  font-size: calc(16px + (19 - 16) * ((100vw - 320px) / (1600 - 320))); 
}

/* Primary button: passive states */
.hero-9 a.btn-primary:link, 
.hero-9 a.btn-primary:visited {
  color: #fff;
  border: solid 2px blue;
  background-color: blue;
  transition: all 0.2s linear;
}

/* Primary button: Interactive states */
.hero-9 a.btn-primary:focus, 
.hero-9 a.btn-primary:hover, 
.hero-9 a.btn-primary:active {
  color:#fff;
  border: solid 2px darkblue;
  background-color: darkblue;
}


/* =============== BEGIN FOOTER CSS ================== */


/* == Begin footer CSS == */

/* Outer footer parent container */
.container-footer { 
  text-align: center;
  color:#fff;
  background-color:#0C2D48;
}

/* Desktop footer - inside padding  */
@media all and (min-width:768px) {
.container-footer { padding: 4% 8% 4% 8% }
}

/* Mobiles footer - inside padding */
@media all and (max-width:767px) {
.container-footer { padding: 8% 8% 12% 8% }
}

/* Styles for footer background, text, icons and links */

.container-footer h4,
.container-footer h5,
.container-footer ul li,
.container-footer ul li a,
.container-footer p,
.container-footer p a {
 color: #E7F2F8 
}

/* Footer headings */
.container-footer h4 {
 font-family: serif;
 font-weight: normal;
 font-style: italic;
 color: #43B0F1;
 font-size: calc(26px + (48 - 26) * ((100vw - 320px)/(1600 - 320)));
 margin: 0 auto 16px 0;
}

.container-footer h5 {
  font-family: sans-serif;
  font-weight: normal;
  font-style:  italic;
  color: #2CEEF0  ;
  margin: 0 auto 36px auto;
  font-size: calc(20px + (32 - 20) * ((100vw - 320px)/(1600 - 320)));
}

/* Footer text links and icon links */
.container-footer ul.footer-links,
.container-footer ul.footer-icons {
  list-style-type: none;
}

.container-footer ul.footer-links {
  margin: 0 auto 48px auto;
}

.container-footer ul.footer-icons {
  margin: 0 auto 48px auto;
}

.container-footer ul.footer-links li,
.container-footer ul.footer-icons li {
  display: inline-block;
  margin: 0 32px 0 0;
}

.container-footer ul.footer-links li:last-child,
.container-footer ul.footer-icons li:last-child {
  margin-right: 0;
}

/* Footer text links */
.container-footer ul.footer-links li a {
  text-decoration: none;
  border-bottom-style: solid;
  color: #74BDCB;
  border-bottom-width: 2px;
  padding-bottom:2px;    
  font-size: calc(17px + (20 - 17) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer ul.footer-links li a:link, 
.container-footer ul.footer-links li a:visited  {
 border-bottom-color: transparent;
}

.container-footer ul.footer-links li a:hover, 
.container-footer ul.footer-links li a:active  {
 border-bottom-color: #ccf2f4;
}

/* Footer icons */
.container-footer ul.footer-icons li a i {
  text-decoration: none;
  font-size: calc(22px + (28 - 22) * ((100vw - 320px)/(1600 - 320)));
  color: #B4F5F0;
}

.container-footer ul.footer-icons li a:hover, 
.container-footer ul.footer-icons li a:active  {
 color: #B4F5F0
}

/* Privacy and legal link */
.container-footer p a {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom:2px;    
  font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
}

.container-footer p a:link, 
.container-footer p a:visited  {
 border-bottom-color: transparent;
}

.container-footer p a:hover, 
.container-footer p a:active  {
 border-bottom-color: #B4F5F0
}

a.privacy-legal {
  font-family: sans-serif;    
  display: inline-block;
  color:#B4F5F0;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom:2px;    
  font-size: calc(14px + (17 - 14) * ((100vw - 320px)/(1600 - 320)));
}

a.privacy-legal:link,
a.privacy-legal:visited {
  border-bottom-color: transparent;
}

a.privacy-legal:active,
a.privacy-legal:hover {
  border-bottom-color: #ccf2f4
}

/* == End footer CSS == */
